body{
    animation:transition 0.75s;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image:        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes transition{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
.navbar-nav a{
    font-size: 15px;
    text-decoration: uppercase;
    font-weight: 500;
}
.navbar-nav a:hover{
    font-weight: 600;
}
.navbar-dark .navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: goldenrod;
}
.navbar.dark .navbar-nav .navbar-Link{
    color:white !important;
}
.w-100{
    height: 100vh;
}
.home{
    width: 500px;
    height: 400px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Shantell Sans', cursive;
    border: 2px solid goldenrod;
    border-radius: 10px;
}
.map{
    left: 0;
    top: 0;
    width: 100%;
    height: 64.5%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
@media (max-width: 560px){
    body{
        background-image:        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ), url(androidbg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
