body{
    animation:transition 0.75s;
}
@keyframes transition{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
.navbar-nav a{
    font-size: 15px;
    text-decoration: uppercase;
    font-weight: 500;
}
.navbar-nav a:hover{
    font-weight: 600;
}
.navbar-dark .navbar-brand{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: goldenrod;
}
.navbar.dark .navbar-nav .navbar-Link{
    color:white !important;
}
.w-100{
    height: 100vh;
}
.home{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    font-weight: 180;
    margin: 0.4em 0;
    font-family: arial black;
    color: rgb(209, 207, 207);
  }
h1 span{
    font-weight: 200;
    color: whitesmoke;
    font-family: 'Sofia';
}
h1 { 
    font-size: 3.5em; 
}
h2 {
    color: #888;
    font-size: 2em;
}
@media (max-width: 560px) {
    h1 { 
        font-size: 2em; 
    }
}
